[Unit]
Description=Beacon API

[Service]
Type=notify
User=beacon-api
ExecStart=/usr/bin/beacon-api

# resource limits
MemoryMax=64M
TasksMax=256

# paranoid security settings
NoNewPrivileges=yes
ProtectSystem=yes
ProtectKernelTunables=yes
ProtectControlGroups=yes
ProtectKernelModules=yes
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
RestrictNamespaces=yes
