Source: beacon
Section: net
Priority: optional
Maintainer: Max Kellermann <max.kellermann@gmail.com>
Build-Depends: debhelper (>= 12~),
 meson (>= 1.2),
 default-jdk-headless,
 g++ (>= 4:14),
 libfcgi-dev,
 libfmt-dev (>= 9),
 libpq-dev (>= 9.2),
 nlohmann-json3-dev,
 libsystemd-dev
Standards-Version: 4.0.0
Vcs-Browser: https://github.com/MaxKellermann/beacon
Vcs-Git: git://github.com/MaxKellermann/beacon

Package: beacon-receiver
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, systemd-sysv, adduser
Suggests: postgresql, postgresql-postgis, postgresql-postgis-scripts
Description: Beacon receiver daemon
 Beacon is a light-weight UDP-based protocol for sharing GPS fixes.
 It was designed to locate friends during bike rides.
 .
 This package contains the receiver daemon.

Package: beacon-api
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}, systemd-sysv, adduser, spawn-fcgi
Description: Beacon API (FastCGI)
 Beacon is a light-weight UDP-based protocol for sharing GPS fixes.
 It was designed to locate friends during bike rides.
 .
 This package contains the API as a FastCGI application.

Package: libbeacon-client-java
Section: java
Architecture: all
Depends: ${misc:Depends}
Description: Java client library for Beacon protocol
 Beacon is a light-weight UDP-based protocol for sharing GPS fixes.
 It was designed to locate friends during bike rides.
 .
 This package contains the Java client library for connecting to Beacon
 servers and sending/receiving GPS location data.
