#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

MESON_OPTIONS = \
	-Djavaclient=disabled \
	-Dsystemd=enabled

%:
	dh $@

.PHONY: override_dh_auto_configure
override_dh_auto_configure:
	dh_auto_configure -- $(MESON_OPTIONS)

.PHONY: override_dh_installsystemd
override_dh_installsystemd:
	if test -f debian/beacon-receiver/usr/lib/systemd/system/beacon-receiver.service; then mkdir -p debian/beacon-receiver/lib/systemd/system; mv debian/beacon-receiver/usr/lib/systemd/system/beacon-receiver.service debian/beacon-receiver/lib/systemd/system/; fi
	dh_installsystemd
