---
name: Release

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to release (for testing)'
        required: true
        default: 'test-v0.0.0'

permissions:
  contents: write # to create releases
  actions: write # to trigger workflows

jobs:
  build:
    uses: ./.github/workflows/build.yml

  release:
    needs: build
    runs-on: ubuntu-24.04
    steps:
      - name: Download JAR artifact
        uses: actions/download-artifact@v4
        with:
          name: JavaClientLibrary
          path: ./artifacts

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.event.inputs.tag || github.ref_name }}
          files: |
            ./artifacts/BeaconClient.jar
          generate_release_notes: true
          draft: ${{ github.event.inputs.tag != '' }}  # Draft if manual trigger
          prerelease: ${{ startsWith(github.event.inputs.tag || github.ref_name, 'test-') }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
